nav {
  display: flex;
  flex-direction: row;
  gab: 1rem;
  margin: 1rem;

  a {
    display: flex;
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    transition: 0.3s;

    &:hover {
      background: lightblue;
    }

    &:active {
      background: darkcyan;
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: row;
}

.component {
  background: lightblue;
  border: 1px solid blue;
  padding: 1rem 2rem;
  margin: 1rem;
}

.blink-once-a {
  animation: blink 0.3s linear;
}

.blink-once-b {
  animation: blink2 0.3s linear;
}

@keyframes blink {
  50% {
    background-color: lightcoral;
  }
}

@keyframes blink2 {
  50% {
    background-color: lightcoral;
  }
}

